<h1>Toy Robot Simulator</h1>

Input:<br />
<textarea rows="10" cols="50">{{this.textInput}}</textarea><br />
<button {{action "clearInput"}}>Clear</button> <button {{action "parseInput"}}>GO</button><br />
<br />
Output:<br />
<div>
  {{this.textOutput}}
</div><br />
